<div class="well">
  <div class="row">
    <div class="col-xs-10">
      <h4>
        <a target="_blank" href=<%= article.link %> >
          <%= article.headline %>
        </a>
      </h4>
      <p>
        <%= article.summary %>
      </p>
      <p>
        <%= article.byline %>
      </p>
    </div>
    <div class="col-xs-2 btn-col">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-primary new-note-btn" data-article-id=<%= article._id %>>Add Note</button>
        <button type="button" class="btn btn-danger delete-article-btn" data-article-id=<%= article._id %>>Delete Article</button>
      </div>
    </div>
  </div>

  <% if (article.notes && article.notes.length > 0) { %>

  <div class="row">
    <div class="col-xs-12">
      <h5 class="note-header">Notes</h5>
      <ul>
        <% article.notes.forEach( note => { %>

        <li><%= note.body %> <span 
          class="glyphicon glyphicon-remove delete-note-btn" 
          data-note-id=<%= note._id %>></span></li>

        <% }) %>
      </ul>
    </div>
  </div>

  <% } %>
</div>