<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <!-- Page header -->
  <%- include('./partials/navbar.ejs', {page: "index"}) %>


  <div class="row" id="article-row">
    <div class="container">
      <%  articles.forEach( a => {  %>
        <div class="well well-sm">
          <div class="row">
            <div class="col-xs-10 article-col">
              <h4>
                <a href=<%= a.link %>>
                  <%= a.headline %>
                </a>
              </h4>
              <p>
                <%= a.summary %>
              </p>
              <p>
                <%= a.byline %>
              </p>
            </div>
            <div class="col-xs-2 btn-col">
              <button class="btn btn-primary save-btn">Save</button>
            </div>
          </div>
        </div>
        <%  });  %>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>

</body>

</html>