<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <!-- Page Header -->
  <%- include('./partials/navbar.ejs', {page: "saved"}) %>

  <div class="row" id="saved-row">
    <div class="container">
      <%  articles.forEach( a => {  %>
        <div class="well">
          <h4>
            <a href=<%=a .link %>>
              <%= a.headline %>
            </a>
          </h4>
          <p>
            <%= a.summary %>
          </p>
          <p>
            <%= a.byline %>
          </p>
        </div>
        <%  });  %>
    </div>
  </div>

  <%- include('./partials/scripts.ejs') %>
  
</body>

</html>