<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/header.ejs') %>
</head>

<body>

  <!-- Page Header -->
  <%- include('./partials/navbar.ejs', {page: "saved"}) %>

  <div class="row" id="saved-row">
    <div class="container">
      <%  articles.forEach( a => {  %>
        <%- include('./partials/article.ejs', {article: a}) %>
      <%  });  %>

      <% if (articles.length === 0) { %>
        <h3 class="page-header text-center">You don't have any saved articles yet!</h3>
      <% } %>
    </div>
  </div>

  <%- include('./partials/noteModal.ejs') %>

  <%- include('./partials/scripts.ejs') %>
  
</body>

</html>